﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Twitch Channel Guide</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="HomeLogo">@Html.ActionLink("twitch Guide", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Profile", "Search", "Profile", new { name = "" }, new { })</li>
                    <li>@Html.ActionLink("News", "Index", "News")</li>
                    <li>@Html.ActionLink("All Users", "AllUsers", "Home")</li>

                </ul>
                <span class="nav navbar-nav form-inline" style="margin-top:8px;">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Search by Username">
                    <button class="btn btn-info" id="btnSearch">Search</button>
                </span>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="FooterCenter">@Html.ActionLink("About Us", "AboutUs", "Home")</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    
    <script>
        $("#btnSearch").click(function () {
            location.href = "../Users/" + $("#name").val();
        });
    </script>
</body>
</html>
