﻿@if (Request.IsAuthenticated)
{
    @model TwitchGuide.Models.User
}

@{
    ViewBag.Title = "Home";
    //make a newsList using controller ViewData
    List<TwitchGuide.Models.SiteNews> newsList = (List<TwitchGuide.Models.SiteNews>)ViewData["MyData"];
}
<br />


<div class="HomeNewsTitle"><h5>What's New?</h5></div>
<br />
@foreach (var item in newsList.Take(3))
{
    <hr />
    <div class="HomeStoryItem">
        <h3>@Html.DisplayFor(modelItem => item.News.Title)</h3>
        <h4>@Html.DisplayFor(modelItem => item.News.Content)</h4>
        <h5>Added by @Html.DisplayFor(modelItem => item.User.Username) on @Html.DisplayFor(modelItem => item.News.DateAdded.Date)</h5>
    </div>
}
<h5><b>@Html.ActionLink("<----- Older News", "Index", "News")</b></h5>

<br />
<hr />
<div id="userstats"></div>

@if (Request.IsAuthenticated)
{
    <table class="table">
        <tr><th>Favorites</th></tr>
        @foreach (var user in Model.Follows)
        {
                    <tr>
                        <td><img src="@user.Avatar" height="32" width="32" /> <a href="/Users/@user.Username">@user.Username</a></td>
                    </tr>
        }

    </table>
}
else
{
    <div>Please login to see your Favorites</div>
}


